<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<system.web>
		<!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
            发布时一定要设置为false  !!!
    -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Build.Utilities, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Build.Framework, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Deployment, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
    -->
		<customErrors mode="Off" defaultRedirect="errorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="errorPage404.htm"/>
		</customErrors>
		<!--Off|InProc|StateServer|SQLServer|Custom -->
		<sessionState mode="StateServer" cookieless="false" timeout="600" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="60" sqlConnectionString=""/>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<!--
		本地化配置文件
		<globalization responseEncoding="UTF-8" requestEncoding="UTF-8" fileEncoding="UTF-8" culture="en-us" uiCulture="en-us"/>
		<globalization responseEncoding="UTF-8" requestEncoding="UTF-8" fileEncoding="UTF-8" culture="es-ES" uiCulture="es-ES"/>
		<globalization responseEncoding="gb2312" requestEncoding="gb2312" fileEncoding="gb2312" culture="zh-CN" uiCulture="zh-CN"/>
        -->
    <globalization responseEncoding="gb2312" requestEncoding="gb2312" fileEncoding="gb2312" culture="zh-CN" uiCulture="zh-CN"/>
    <!--
        负责处理文件上传的大小
        修改maxRequestLength后数据就可以设置上传文件的大小,4096对应最大上传文件的大小是4M
    -->
		<httpRuntime executionTimeout="180" maxRequestLength="10240" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
		<!--以下Pages是为了注册自定义控件的皮肤文件-->
		<pages styleSheetTheme="default">
			<controls>
				<add tagPrefix="cc1" assembly="CustomControlLib" namespace="PlatForm.CustomControlLib"/>
			</controls>
		</pages>
	</system.web>
	<location allowOverride="true" inheritInChildApplications="true">
		<appSettings>
			<add key="DatabaseType" value="Oracle"/>
			<!--DoubleDatabase取值:Yes、No二者之一-->
			<add key="DoubleDatabase" value="Yes"/>
			<add key="OraConnStringMain" value="Data Source=dbs1;Integrated Security=false;Password=ytdf000;User ID=webdmis;Max Pool Size=1000;Min Pool Size=5;Pooling=True;"/>
			<add key="OraConnStringSlave" value="Data Source=dbs2;Integrated Security=false;Password=ytdf000;User ID=webdmis;Max Pool Size=1000;Min Pool Size=5;Pooling=True;"/>
			<!--报表打印目录,根据用户现场的情况修改-->
			<add key="ReportPath" value="http://172.20.42.160/df8360/report/"/>
			<!--
				  工作流系统休息日设置所用，用于计算任务耗时，时间格式为HH:MM
				  AM_START：上午上班时间
				  AM_END：上午下班时间
				  PM_START：下午上班时间
				  PM_END：下午下班时间
			-->
			<add key="AM_START" value="08:30"/>
			<add key="AM_END" value="12:00"/>
			<add key="PM_START" value="14:30"/>
			<add key="PM_END" value="17:30"/>
			<!--
			  自动化缺陷处理时限
			  紧急：24小时,重大：半个月，一般：3个月 
			  取值单位：小时
			  -->
			<add key="Commonly" value="2160"/>
			<add key="Importance" value="360"/>
			<add key="Urgency" value="24"/>
		</appSettings>
	</location>
</configuration>
