<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	  <!--DatabaseType取值:Oracle、SqlServer、Sybase三者之一-->
      <add key="DatabaseType" value="Oracle"/>
	  <!--DoubleDatabase取值：Yes或No-->
      <add key="DoubleDatabase" value="Yes"/>
      <add key="OraConnStringMain" value="Data Source=dbs1;Integrated Security=false;Password=ytdf000;User ID=webdmis;Max Pool Size=100;Min Pool Size=5;Pooling=True;"/>
      <add key="OraConnStringSlave" value="Data Source=dbs2;Integrated Security=false;Password=ytdf000;User ID=webdmis;Max Pool Size=100;Min Pool Size=5;Pooling=True;"/>
	  <!--文化取值：zh-CN  es-ES-->
	  <add key="Culture" value="zh-CN"/> 
	  
	  <!--
	  工作流系统休息日设置所用，用于计算任务耗时，时间格式为HH:MM
	  AM_START：上午上班时间
	  AM_END：上午下班时间
	  PM_START：下午上班时间
	  PM_END：下午下班时间
	  -->
	  
	  <add key="AM_START" value="08:30"/>
	  <add key="AM_END" value="12:00"/>
	  <add key="PM_START" value="14:30"/>
	  <add key="PM_END" value="18:00"/>
  </appSettings>
</configuration>