<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--DatabaseType取值:Oracle、SqlServer、Sybase、Access三者之一-->
		<add key="DatabaseType" value="Access"/>
		<!--DoubleDatabase取值：Yes或No-->
		<add key="DoubleDatabase" value="No"/>
		<add key="AccessConnStringMain" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\\data\\dbs1.mdb"/>
		<add key="AccessConnStringSlave" value=""/>
		
		<add key="OraConnStringMain" value="Data Source=webdmis;Integrated Security=false;Password=ytdf000;User ID=webdmis;Max Pool Size=1000;Min Pool Size=5;Pooling=True;"/>
		<!--源程序所在的目录，以方便指定从哪读入XML的数据-->
		<add key="SourcePath" value="E:\用户调试\赤几\df8360\source\"/>

		<!--判断是否显示“提示”和“生成”按钮的标记-->
		<add key="DisplayFlag" value="1"/>

	</appSettings>
</configuration>